.ui.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: black;
}

.main {
    background-color: #34495e;
    padding: 50px;
    box-shadow: 0px 10px 20px 0px #0000005c;
}

.main .logo {
    display: block;
    height: 100px;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
}

.main .text {
    font-size: 7em;
    color: white;
    text-align: center;
}

#model {
    display: none;
}

.event {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px 0px #0000005c;
}

.ui.container > .test.event:first-child {
    transform: scale(1.5);
    margin-bottom: 40px;
}

.event .date {
    background-color: #2c3e50;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event .date .day {
    font-size: 1em;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.event .date .time {
    font-size: 2em;
    color: white;
}

.event .channel {
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex: 1;
}

.event .channel .logo {
    margin-right: 10px;
    height: 80px;
    width: auto;
}

.event .channel .text {
    font-size: 2.5em;
    color: white;
}